{
  "extends": "@bi1lqv",
  "rules": {
    "react/no-unknown-property":"off",
    "react/display-name":"off",
    "vue/one-component-per-file":"off",
    "vue/no-mutating-props":"off"
  },
  "ignorePatterns": ["*.json", "**/assets/**/*.ts"]
}
